<% @title= "Personnel"%>
<div class="caption"><%= @title%></div>
<div class="span6">

<br/>
<ul class='user-list'>
	  <% @users.each do |user| %>
	    <li>
	      <%= link_to gravatar_for(user), user_bookings_path(user) %>
	      <%= link_to "#{user.name} #{user.lastname}", user_bookings_path(user) %>
	    </li>
	  <% end %>
</ul>
