<% tmp = @home[:description] %>
<% count = tmp.length %>
<article class="row">
  <div class="span4">
    <%= tmp[0..count/3] %>
  </div>
  <div class="span4">
    <%= tmp[count/3..2*count/3] %>
  </div>
  <div class="span4">
    <%= tmp[2*count/3..count-1] %>
  </div>
</article>