<header>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <div class="pull-left">
        	<a href="#"> BooKingSysTem</a>
      </div>
      <div class="pull-right">
      	<nav>
      		<ul class="nav">
      			<li><a href="#"><span class="icon-home"></span> Головна</a></li>
      			<li class="divider-vertical"></li>
      			<li><a href="#">Реєстрація</a></li>
      			<li><a href="#">Вхід</a></li>
      		</ul>
      	</nav>
      </div>
      
    </div>
  </div>
</div>	
</header>