<header class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
          <div class='title'> 
             <h3>My BoKing SySteM</h3>
           </div>  
  			</div>
  		</div>
</header>